*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.hero{

    background:linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
    url("https://images.unsplash.com/photo-1560518883-ce09059eeffa?w=1600");

    background-size:cover;
    background-position:center;

    height:450px;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:white;

}

.hero-content{

    max-width:700px;

}

.hero h1{

    font-size:52px;

    margin-bottom:20px;

}

.hero p{

    font-size:20px;

    margin-bottom:30px;

}

.featured-properties{

    padding:70px;

}

.featured-properties h2{

    text-align:center;

    margin-bottom:40px;

    font-size:40px;

}

.property-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:30px;

}